extends ../includes/layout
include ../includes/bootstrap_mixins

mixin statRow(label)
  .col-2(data-statType=label.toLowerCase())
    p.h6=label
    .btn-group-vertical.btn-group-lg(role="group" aria-label=`Possible ${label.toLowerCase()} stats`)

mixin dvRow(label)
  .col-2(data-dvType=label.toLowerCase())
    p.h6=label
    p.dvRange

prepend pageStyles
  - var pageTitle = "Red Classic DVs"

append pageContent
  .container
    h1 Gen 1 DV Calculators
    p.lead For use with Glitchless Classic Speedruns